<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884533869612-rcpa80kpbkb8io4dc2aasqpdjife7vi0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884533869612-rcpa80kpbkb8io4dc2aasqpdjife7vi0</string>
	<key>API_KEY</key>
	<string>AIzaSyC7mL_INBKac3onW446VEwZQqvVnNyQFIU</string>
	<key>GCM_SENDER_ID</key>
	<string>884533869612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.novadosoft.plantrecognition.PlantRecognition</string>
	<key>PROJECT_ID</key>
	<string>plant-recognition-2021</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-recognition-2021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884533869612:ios:82b3fb1887e29b9f08e589</string>
</dict>
</plist>